/* variables */
$title-font: 'Montserrat', sans-serif !global;
$content-font: 'Merriweather', serif !global;
/* colors */
$dark-black: #15120B !global;
$off-white: #f5f5f5 !global;
$side-nav-color: #051B2B !global;

$grey: #adadad !global;
$dark-grey: #3C3E50 !global;
$mid-grey: #85858B !global;

$orange: #ec9d60 !global;
$bright-orange: #ff7002 !global;
$dark-orange: #CE6F1C !global;
$highlight-orange: #F07F06 !global;

/* $orange: #D9760A !global;
$bright-orange: #F07F06 !global;
$dark-orange: #CE6F1C !global; */

/* classes */
.title{
	font-family: $title-font;
	font-size: 2.5rem;
	font-weight: 300;
}

.content{
	font-family: $content-font;
	font-size: 1.5rem;
	font-weight: 100;
}

.m-r-2w{
	margin-right: 2vw;
}
