/* .ui.selection.dropdown {
	background: $off-white;
}

a.playground-wrapper--download-container{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	padding: 2vw 1vw 2vw 1vw;

	font-weight: 500;

	height: 100%;
	width: 100%;
	background: $dark-black;
	color: $off-white;

	border-radius: 4px;

	transition: all 0.3s ease-in-out;

	&:nth-child(1){
		margin-right: 2vw;
	}
	&:nth-child(2){
		margin-left: 2vw;
	}

	&:hover{
		color: $off-white;
		font-weight: 300;
		background: $bright-orange;

		transition: all 0.3s ease-in-out;
	}
} */